services:
  anvil:
    image: local/anvil:ci
    build:
      context: .
      dockerfile: docker/anvil/develop.Dockerfile
    tty: true
    ports:
      - 8545:8545
    healthcheck:
      test: ["CMD", "cast", "chain-id", "--rpc-url", "http://127.0.0.1:8545"]
      interval: 2s
      timeout: 2s
      retries: 30
      start_period: 5s

  app:
    image: local/app:ci
    build:
      context: .
      dockerfile: docker/app/develop.Dockerfile
    depends_on:
      - anvil
    tty: true
    volumes:
      - .:/application
    ports:
      - 3000:3000 # frontend
      - 4943:4943 # icp
