name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start anvil
        run: docker compose -f compose.yaml up -d --build anvil

      - name: Run tests
        run: docker compose -f compose.yaml run --rm app /application/runTest.sh

      - name: Shutdown
        if: always()
        run: docker compose -f compose.yaml down --volumes
