name: Build and test Nim

on:
  pull_request:
    paths-ignore:
      - '*.md'
      - 'documents/*'

jobs:
  # WIP でジョブがスキップされてもCIが失敗した扱いにならないようにするため
  skip:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skip job"

  # WIP がコミットメッセージに含まれているとジョブを起動しない
  before:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, 'WIP')"
    steps:
      - run: echo "no WIP"

  test-on-docker-nim:
    runs-on: ubuntu-latest
    needs: before
    steps:
    - uses: actions/checkout@v2
    - name: Build docker image
      run: docker compose -f compose.test.yaml build
    - name: Test
      run: |
        docker compose -f compose.test.yaml up -d
        docker compose -f compose.test.yaml run app-test bash runTest.sh
